* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    vertical-align: middle;
}

.dialogue {
    border: 1px solid gray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    overflow: visible;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
    position: absolute;
    top: 1%;
    left: 1%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    outline: 0px;
    padding: 0px;
    width: 96%;
    font-weight: bold;
}

.window-manager {
    border-bottom: 1px solid;
    display: block;
    height: 18px;
    padding: 0px;
    text-align: center;
}

.window-manager-content {
    padding-bottom: 0px;
    margin:0px;
}

.window-close-mark {
    border: 0px solid red;
    height: 17px;
    width: 17px;
    float: right;
    color: red;
    padding: 0px;
    border-top-right-radius: 3px;
}

.window-close-mark:hover{
    outline: 0px solid;
    outline-color: red;
    background-color: lightcoral;
    padding: 0px;
}

.window-manager-data-port {
    border-bottom: 1px solid;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0px;
    text-align: center;
}

.window-manager-data-port-content {
    padding-bottom: 0px;
    margin:0px;
}

.grid-view-port {
    border: 0px solid black;
    white-space: nowrap;
    text-overflow: ellipsis;
    direction: ltr;
}

.data-view-port {
    overflow-y: scroll;
    border: 0px solid black;
    white-space: nowrap;
    text-overflow: ellipsis;
    direction: ltr;
}


.data-pivot-port {
    border: 0px solid black;
    width: 18%;
    background-color: gold;
    float: right;
    color: green;
    font-size: large;
    vertical-align: text-top;
    padding: 0px;
    writing-mode: vertical-lr;
    font-weight: bold;
    height: 100%;
}


.data-sql-port {
    border: 0px solid black;
    width: 98%;
    height: 150px;
    background-color: black;
    float: left;
    color: red;
    font-size: 10px;
    vertical-align: text-top;
    padding: 0px;
    overflow: auto;
}

.input-data-sql-port {
    border: 0px solid black;
    width: 100%;
    height: 150px;
    background-color: black;
    float: left;
    color: rgb(0, 255, 13);
    font-size: xx-small;
    vertical-align: text-top;
    padding: 0px;

}

.vertical-additional-options {
    border: 0px solid black;
    width: 1.5%;
    background-color: aquamarine;
    float: right;
    color: red;
    font-size: xx-small;
    vertical-align: text-top;
    padding: 0px;
    writing-mode: vertical-lr;
    height: 100%;
}

.header-row {
    border-bottom: px dotted black;
    border-left: 0px dotted black;
    border-right: 0px dotted black;
    display: flex;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    height: 20px;
    width: 80%;
}

.aggregator-row {
    border-bottom: 0px dotted green;
    border-left: 0px dotted green;
    border-right: 0px dotted green;
    /*display: flex;*/
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    width: 80%;
    height: 18px;
}

.filter-row {
    border-bottom: 0px dotted black;
    border-left: 0px dotted black;
    border-right: 0px dotted black;
    display: flex;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    height: 18px;
}


.row {
    border-bottom: 0px dotted black;
    border-left: 0px dotted black;
    border-right: 0px dotted black;
    display: flex;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    height: 15px;
    float: left;
}

.row:hover {
    background-color: lightcoral;
    outline: 1px solid blue;
    border: 0px;
}

.row:nth-child(2n) {
    background-color: lightgrey;
    border: 0px;
}

.row:nth-child(2n):hover {
    background-color: lightcoral;
    border: 0px;
}

.row-summary {
    border-bottom: 1px dotted black;
    border-left: 0px dotted black;
    border-right: 0px dotted black;
    display: flex;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    height: 15px;
    float: left;
    width: 80%;
    background-color: greenyellow;
}

.row-summary:hover {
    background-color: lightsalmon;
}

.cell-header-sno {
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    font-family: monospace;
    width: 25px;
    text-align: center;
}

.cell-header {
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    font-family: monospace;
    width: 250px;
    text-align: center;
    /* cursor: col-resize;*/
}

.cell-header-sno::after{
    content: '⤴';
}

.dropzone {
    border: 1px solid palevioletred;
    width: 80%;
  }

.cell {
    border-left: 1px solid gray;
    padding: 0px;
    margin: 0px;
    font-family: monospace;
    width: 90px;
    text-align: center;
    user-select: contain;

}

.cell:hover {
    background-color: lightgreen;
    outline-color: red;
    user-select: all;
}


img {
 height: 12px;
 widows: 12px;
 padding: 1px;
}
